.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 1px var(--light-gray);
    h2 {
        font-size: 1.2em;
        font-weight: 600;
    }
}

.table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    color: var(--dark-gray);
    font-weight: 500;
    gap: 5px;
    p {
        font-size: 0.85em;
        /* color: var(--dark-gray) */
    }
}

.Thead {
    display: contents;
    border-bottom: solid 1px var(--light-gray);
    padding: 10px 0;
}