.History {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    .table{
        display: grid;
        grid-template-columns:1fr 1fr 0.8fr 2fr 0.8fr 0.8fr 0.8fr 1fr;
        border: var(--card-border);
        padding: 20px;
        gap: 15px;
        position: relative;
        .Thead {
            display: contents;
            position: relative;
            font-size: 0.9em;
        }
        .pseudo {
            position: absolute;
            content: "";
            background-color: var(--light-gray);
            width: 100%;
            height: 60px;
            z-index: -1;
            box-sizing: border-box;
            border: var(--card-border);
        }
    }
} 