.inventory-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        button {
            border: none;
            border-radius: 5px;
            background-color: var(--main);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
            padding: 8px;
            gap: 5px;
            cursor: pointer;
            img {
                width: 20px;
            }
        }
    }

    form {
        border: var(--card-border);
        display: flex;
        gap: 15px;
        width: 100%;
        label {
            display: flex;
            padding: 10px;
            gap: 10px;
            flex-grow: 1;

            input {
                border: none;
                font-size: 1rem;
            }
            input:focus {
                outline: none;
                border: none;
            }
            select {
                flex-grow: 1;
                border: none;
                width: 100%;
                background-color: white;
                color: var(--gray);
                option {
                    color: var(--gray);
                    font-family:'Prompt';
                }
                
            }
        }
    
    }
    .product-table {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 1fr 1fr 1fr 2fr;
        border: var(--card-border);
        .Thead {
            background-color: var(--gray-background);
            border: var(--card-border);
            box-sizing: border-box;
            padding: 5px;
            color: var(--gray);
            text-align: center;
            font-size: 0.85em;
        }
    }
}
.card-container {
    display: flex;
    gap: 20px;
}

.product-table {

}