.menu-container {
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  cursor: pointer;
  z-index: 2;
}

.menus-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.text-black {
  color: #333;
  margin: 0;
}

.text-white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 55px;
  color: white;
  pointer-events: none;
}