.Item {
    display: contents;
}

.remain {
    color: var(--risky);
}

.status2 {
    padding: 5px;
    background-color:var(--risky10);
    font-size: 0.8rem;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    gap: 3px;
    p {
        color: var(--risky)
    }
}