.Item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    p {
        color: var(--gray);
    }
    h3 {
        font-weight: 500;
    }
    .shift {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
    .risky {
        color: var(--risky);
    }
    .danger {
        color: var(--danger);
    }

}