.loading-screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:20px;
  font-family:sans-serif;
}

.spinner{
  width:50px;
  height:50px;
  border:5px solid #eee;
  border-top:5px solid #1904FC;
  border-radius:50%;
  animation:spin 0.8s linear infinite;
}

@keyframes spin{
  to{
    transform:rotate(360deg);
  }
}

/* แบนเนอร์แจ้งเตือน */

.announcement {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 0.7rem;
    background-color: #fff1f2;
    color: #be123c;
    padding: 4px 10px;
    border-radius: 15px;
    border: 1.5px solid #e11d48;

    animation: pulseAlert 3s infinite;
    margin: 10px 0;
}

.announcement a {
    color: #e11d48;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.announcement a:hover {
    color: #9f1239;
}

@keyframes pulseAlert {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(225, 29, 72, 0);
        transform: scale(1.03);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(225, 29, 72, 0);
        transform: scale(1);
    }
}

.announcements {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: bold;
    color: #e11d48;
    
}