.Category {
    display: contents;
    font-size: 0.9em;
    .manage {
        display: flex;
        gap: 15px;
        justify-content: flex-start;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    .in-use {
        color: var(--safe);
        background-color: var(--safe10);
        width: fit-content;
        height: fit-content;
        padding: 2px 10px;
        border-radius: 10px;
    }
    .out-use {
        color: var(--danger);
        background-color: var(--danger10);
        width: fit-content;
        height: fit-content;
        padding: 2px 10px;
        border-radius: 10px;
    }
}