aside {
    height: calc(100vh - 40px);
    box-sizing: border-box;
    border-right: 1px solid #E5E7EB;
    padding: 10px;
    width: 270px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .profile-container {
        display: flex;
        gap: 10px;
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 10px;
        .role {
            color: var(--gray);
            font-size: 0.8em;
        }
    }
    .menus {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
}

.profile-text, .profile-picture {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.profile-text {
    background-color: var(--main);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    background-size: cover;
}