aside {
    height: calc(93vh);
    box-sizing: border-box;
    border-right: 1px solid #E5E7EB;
    padding: 10px;
    min-width: 270px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    position: sticky;
    top: 40px;
    .profile-container {
        display: flex;
        gap: 10px;
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 10px;
        .role {
            color: var(--gray);
            font-size: 0.8em;
        }
    }
    .menus {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px;
        letter-spacing: 0.5px;
        padding-left: 15px;
    }
    .selected {
        position: absolute;
        content: "";
        width: 250px;
        height: 40px;
        border-radius: 10px;
        background-color: var(--main);
        left: 10px;
        z-index: -1;
    }
    .exit {
        display: flex;
        gap: 10px;
        border-top: 1px solid var(--light-gray);
        padding-top: 10px;
        img {
            margin-left: 10px;
        }
    }
}

.profile-text, .profile-picture {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.profile-text {
    background-color: var(--main);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 40px;
    height: 40px;
    background-size: cover;
}