@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: 250ms;
    font-family: Prompt;
}

:root {
    --main: #1904FC;
    --main10: rgba(25, 4, 252, 0.1);
    --gray: #4A5565;
    --light-gray: #E5E7EB;
    --dark-gray: #364153;
    --risky: #FF6200;
    --risky10: rgba(255, 98, 0, 0.1);
    --safe: #00A63E;
    --safe10: rgba(0, 166, 62, 0.1);
    --danger: #FF0000;
    --danger10: rgba(255, 0, 0, 0.1);


    --card-border: 1px solid var(--light-gray);
}