.inventory-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .header-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        button {
            border: none;
            border-radius: 5px;
            background-color: var(--main);
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
            padding: 8px;
            gap: 5px;
            cursor: pointer;
            img {
                width: 20px;
            }
        }
    }

    form {
        border: var(--card-border);
        display: flex;
        width: 100%;
        label {
            flex-grow: 1;
            color: red;
            height: 20px;
            width: 20px;
        }
        select, input {
            display: none;
        }
    }
}
.card-container {
    display: flex;
    gap: 15px;
}