.Users {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    .card-container {
        display: flex;
        gap: 20px;
        flex-grow: 1;
        flex-shrink: 250px;
        flex-basis: auto;
    }
    .Thead {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 0.8fr;
        background-color: var(--light-gray);
        text-align: center;
        color: var(--gray);
        font-weight: 550;
        font-size: 0.9em;
        gap: 10px;
        padding: 15px 5px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: -20px;
    }
    .Tbody {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 0.8fr;
        gap: 10px;
    }
}